body {
  width: 80%;
  margin:0 auto;
}

#cpizza {
  max-width: 100%;
  height: auto;
}
<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
